<div class="w-custom d-flex flex-column vh-100 p-4">
    <h5 class="mb-4 px-2 text-info">GadgetHub Admin</h5>
    <nav class="nav flex-column gap-1">
        <a href="/admin/dashboard" class="nav-link custom-color">Dashboard</a>
        <a href="/admin/users" class="nav-link custom-color">Users</a>
        <a href="/admin/brands" class="nav-link custom-color">Brands</a>
        <a href="/admin/categories" class="nav-link custom-color">Categories</a>
        <a href="/admin/products" class="nav-link custom-color">Products</a>
        <a href="/admin/coupons" class="nav-link custom-color">Coupons</a>
        <a href="/admin/orders" class="nav-link custom-color">Orders</a>
        <hr class="border-secondary">
        <a href="/admin/logout" class="nav-link text-danger">Logout</a>
    </nav>
</div>