PORT=port_number
MONGO_URI=your_mongodb_uri
SESSION_SECRET=your_secret
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
EMAIL=your_gmail
EMAIL_PASSWORD=your_app_password
