.sidebar {
    width: 240px;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.03);
    border-right: 1px solid rgba(255,255,255,0.06);
    backdrop-filter: blur(18px);
}

.sidebar-link {
    text-decoration: none;
    color: #b8dfff;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 14px 16px;
    border-radius: 14px;
    font-weight: 500;
    transition: 0.3s ease;
}

.sidebar-link i {
    width: 20px;
    font-size: 15px;
}

.sidebar-link:hover {
    background: rgba(255,255,255,0.07);
    color: white;
    transform: translateX(4px);
}

.sidebar-link.active {
    background: linear-gradient(
        90deg,
        rgba(13, 202, 240, 0.18),
        rgba(13, 202, 240, 0.05)
    );

    color: #7fe7ff;
    border: 1px solid rgba(13, 202, 240, 0.15);
}

.logout-link {
    color: #ff6b6b;
}

.logout-link:hover {
    background: rgba(255, 0, 0, 0.08);
    color: #ff8787;
}

@media(max-width: 992px){

    .sidebar{
        width: 90px;
        padding: 20px 10px !important;
    }

    .sidebar h3{
        display: none;
    }

    .sidebar-link{
        justify-content: center;
        padding: 14px;
    }

    .sidebar-link span{
        display: none;
    }

}