body {
  background: radial-gradient(ellipse 80% 50% at 20% 0%, #0a1a2f 0%, #020617 65%);
  margin: 0;
  overflow: hidden;
}

.vh-75 {
  height: 75vh;
}

.w-custom {
  width: 220px;
  height: 100vh;
  flex-shrink: 0;
  overflow-y: auto;
}

.admin-content {
  height: 100vh;
  overflow-y: scroll;
  flex-grow: 1;
  padding: 1.5rem;
}

.custom-color {
  color: lightblue;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  transition: 0.3s;
}

.glass:hover {
  transform: translateY(-8px);
}

.table-transparant {
  background-color: transparent;
  backdrop-filter: blur(12px);
  border-radius: 12px;
  transition: 0.3s;
}

.table-transparant th{
  background-color: transparent !important;
  color: lightblue;
}

.table-transparant td {
  background-color: transparent !important;
  color: lightblue;
  border: none;
  padding: 15px;
}

.table-transparant:hover {
  transform: scale(1.01);
}

.glass-modal {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  border-radius: 20px;
}

.custom-input {
  background: #020617;
  border: none;
  color: white;
  border-radius: 10px;
}

.custom-input:focus {
  border: 1px solid #0dcaf0;
}